{% extends 'blog/base.html' %}

{% block title %}<title>Home</title>{% endblock %}

{% block content %}
{% for post in posts %}
  <h1>{{ post.title }}</h1>
  <img src="https://www.freecodecamp.org/news/content/images/size/w2000/2021/08/nubelson-fernandes-CO6r5hbt1jg-unsplash.jpg" alt="{{ post.title }}" width="300px" height="250px">
  <p>Created on: {{ post.date_created }}</p>
  <p>Last update: {{ post.date_updated }}</p>
  <a class="btn btn-primary" href="/posts/{{ post.id }}" role="button">See more</a>
{% endfor %}
{% endblock %}



